html,
body {
    margin: 0;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.row {
    display: block;
    /*border:1px solid darkgray;*/
    width: 100%;
}

.row::after {
    content: "";
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearFix {
    clear: both;
}

[class*="col"] {
   height:auto;
   float:left;
   box-sizing: border-box;
   padding:5px;
   /*border:1px solid lightgray;*/
}

.col1 {
    width: 8.3333%;
}

.col_offset_1 {
    margin-left: 8.3333%;
}

.col2 {
    width: 16.667%;
}

.col_offset_2 {
    margin-left: 16.667%;
}

.col3 {
    width: 25%;
}

.col_offset_3 {
    margin-left: 25%;
}

.col4 {
    width: 33.3333%;
}

.col_offset_4 {
    margin-left: 33.3333%;
}

.col5 {
    width: 41.6667%;
}

.col_offset_5 {
    margin-left: 41.6667%;
}

.col6 {
    width: 50%;
}

.col_offset_6 {
    margin-left: 50%;
}

.col7 {
    width: 58.3333%;
}

.col_offset_7 {
    margin-left: 58.3333%;
}

.col8 {
    width: 66.6667%;
}

.col_offset_8 {
    margin-left: 66.6667%;
}

.col9 {
    width: 75%;
}

.col_offset_9 {
    margin-left: 75%;
}

.col10 {
    width: 83.333%;
}

.col11 {
    width: 91.6663%;
}

.col12 {
    width:99.9996%;
}


@media screen and (min-width: 768px) {
    .col_3 {
        width: 33.3333%;
    }
}

@media screen and (max-width: 800px) {
    .col_3 {
        width: 50%;
    }
}

@media screen and (max-width: 400px) {
    .col_3 {
        width: 100%;
    }
}